* {
  box-sizing: border-box;
  padding-top: 0;
  margin: 0;
}

.home-layout {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 50%;
}

.pro-layout, .home-layout, .repo-layout, .about-layout {
  width: 68%;
  border: solid 1px rgb(104, 101, 97);
  display: flex;
  margin-top: 25px;
  border-radius: 10px;
}

.layout-plan {
  display: flex;
  background-color: #28242c;
  color: aliceblue;
  justify-content: space-around;
}

.top-nav {
  background-color: #30343c;
  display: flex;
  justify-content:space-between;
}

.detail-layout {
  margin: 10px;
  color: rgb(174, 182, 189);
}

.left-content {
  display: flex;
  justify-content:space-evenly;
  width: 50%;
  padding: 10px;
}

.right-content {
  display: flex;
  justify-content:space-evenly;
  padding: 20px;
  width: 10%;
}

.search-bar input {
  background-color:#28242c;
  padding: 8px;
  width: 120%;
  margin: 5px;
  border-radius: 5px;
  border: none;
}

.menu-left ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  color: aliceblue;
  margin: 5px;
}
.menu-left ul li {
  margin: 5px;
}

.welcome-msg {
  padding-top: 20px;
  border-bottom: solid 1px rgb(165, 157, 157);
  height: 15%;
  text-align: center;
}

.down-nav {
  background-color: #28242c;
  color: rgb(128, 137, 145);
  border-bottom: rgb(109, 105, 106) 1px solid;
  
}

.down-nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.social-icons ul{
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding-top: 10px;
  width: 20%;
  padding-bottom: 10px;
}
.down-nav ul li {
  margin: 18px;
  padding-top: 15px;
  color: aliceblue;
}

.top-detail {
  margin-top: 15px;
  margin-bottom: 15px;
}

.top-detail h1{
  margin-bottom: 15px;
}

.top-detail button {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #484458;
  border: none;
  border-radius: 6px;
  color: rgb(174, 182, 189);
}

.down-detail ul {
  font-size: 15px;
  list-style-type: none;
}

.person-sum {
  padding: 35px;
}
.avatar-sec {
  width: 25%;
}

.avatar-sec img {
  border-radius: 50%;
  width: 80%;
  margin-left: 15px;
}
.techs {
  border-bottom: solid 1px rgb(145, 139, 139);
  width: 100%;
}

.tech-title {
  padding-top: 15px;
}
.techs ul {
  display: flex;
  list-style-type: none;
  margin: 5px;
}

.techs ul li {
  margin: 5px;
}

.tech-icons-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  border-top: solid 1px rgb(156, 152, 152);
  height: 45%;
}

.tech-icons p {
  margin-bottom: 10px;
}

.tech-icons {
  width: 65%;
}
.tech-image {
  margin: 0 auto;
  text-align: end;
}
.tech-image img{
  width: 65%;
}

.git-starts-wrapper {
  display: flex;
}

.git-starts, .git-analytic {
  border: solid 1px rgb(177, 170, 170);
  padding: 15px;
}
a:-webkit-any-link {
  text-decoration: none;
  color: rgb(235, 228, 228);
}

.active {
  text-decoration: underline !important;
}

#projects {
  color: black;
}